# Python virtual environment
venv/

# Python cache files
__pycache__/
*.pyc

# Ignore user-specific VS Code files and state
.vscode/*

# But DO commit project-specific settings
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# Ignore the instance-specific database file
instance/database.db

# Ignore cookie file
cookies.txt
